output_name=tmp.root
input_folder=/afs/cern.ch/work/a/amagnan/CMSSW_5_3_19/src/UserCode/ICHiggsTauTau/Analysis/HiggsNuNu/output_lighttree/
#input_folder=root://xrootd.grid.hep.ph.ic.ac.uk//store/user/pdunne/lighttree_150914
input_params=../filelists/Dec18/ParamsDec18.dat
filelist=filelists/filelist.dat
treename=LightTree
signalFactor=1
jetmetdphicut=alljetsmetnomu_mindphi>1.0
basesel=metnomu_significance>3 && metnomuons>90 && jet1_eta*jet2_eta<0 && jet1_eta<4.7 && jet2_eta<4.7 && dijet_M>=800 && jet1_pt>50 && dijet_deta>3.6 && jet2_pt>40

